.h100{
	height: 100%;
}
.w100{
	width: 100%;
}
.ft8{font-size: 8px;}.ft12{font-size: 12px;}.ft14{font-size: 14px;}.ft16{font-size: 16px;}
.fl{float: left;}.fr{float: right;}
.mt5{margin-top: 5px;}.mt10{margin-top: 10px;}
.pr{position: relative;}.ps{position: absolute;}
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}





.lh17{
	height: 17px;
	line-height: 17px;
}
.searchInput{
	border: 0.5px solid #00aaff;
	border-radius: 15px;
	padding-left: 20px;
}


	