@font-face {
  font-family: "iconfont"; /* Project id 3887217 */
  src: url('https://at.alicdn.com/t/c/font_3887217_ydje8b3dcx8.woff2?t=1675912036880') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3887217_ydje8b3dcx8.woff?t=1675912036880') format('woff'),
       url('https://at.alicdn.com/t/c/font_3887217_ydje8b3dcx8.ttf?t=1675912036880') format('truetype');
	
   }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31wode:before {
  content: "\e600";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-changyonglogo40:before {
  content: "\e722";
}

.icon-libao:before {
  content: "\e656";
}
